<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Db-project</title>
</head>
<body bgcolor="#E6E6FA">

<form method="POST">
    <p width="60%" align="center">
  search:<br>
  <input type="text" name="userName" >
    <button type="submit">search</button>
  <br>
</p>
</form>


<form method="POST" action="login">
    <p>{{ massage }}</p>
    <p>login :</p>
  user name:<br>
  <input type="text" name="username"  style="left: 200px">
  <br>
  password:<br>
  <input type="password" name="password">
    <br>
    <br>
    <button type="text">login</button>
</form>



<p> sign up here</p>
<a href="sign-up">
<button type="button">sign up here</button>
</a>

</body>
</html>