<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sign up</title>
</head>
<body>


<p>{{ massage }}</p>
<form method="POST" action="signup">
    <p>sign up :</p>
    name:<br>
  <input type="text" name="Name"  style="left: 200px">
  <br>
  user name:<br>
  <input type="text" name="username">
<br>
  password:<br>
  <input type="password" name="Password">
    <br>
  E-mail:<br>
  <input type="text" name="email">
  <br>
    image: <br>
    <input type="file" />
    <br>
    <br>
    <table>
        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="java"/>
            </td>
            <td>java</td>
        </tr>

        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="python"/>
            </td>
            <td>python</td>
        </tr>

        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="c++"/>
            </td>
            <td>c++</td>
        </tr>

        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="c#"/>
            </td>
            <td>c#</td>
        </tr>

        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="android"/>
            </td>
            <td>android</td>
        </tr>

        <tr>
            <td>
                <input type = 'checkbox' name="favorite" value="c"/>
            </td>
            <td>c</td>
        </tr>

    </table>
    <button type="submit">sign up</button>
</form>



</body>
</html>